# Backup files
*.bak

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.cursor
.trae
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Env Config
.env
.env.production

# Docker Config
docker-compose.yml

# Jenkins Config
Jenkinsfile_production

# Jmeter reports
jmeter/results.jtl
jmeter/html-report/*
*jmeter.log
