# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.cursor
.trae
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Env Config

.env
.env.production

# Docker Config
docker-compose.yml