<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stan.blog.content.mapper.ContentGeneralInfoMapper">
    <update id="updateContentMetaCount" >
        UPDATE stan_blog_content_general_info
        SET ${column} = #{newValue}
        WHERE ID = #{id}
    </update>

    <select id="pagePublishedContentDTOs" resultType="com.stan.blog.beans.dto.content.BaseContentDTO">
        SELECT
            tcgi.*,
            CONCAT(tcu.FIRST_NAME, ' ', tcu.LAST_NAME) as OWNER_NAME,
            tcu.ID as OWNER_ID,
            tcu.AVATAR_URL as AVATAR_URL,
            tca.*
        FROM stan_blog_content_general_info tcgi
        JOIN stan_blog_core_user tcu ON tcgi.OWNER_ID = tcu.ID
        JOIN stan_blog_content_admin tca ON tca.CONTENT_ID = tcgi.ID
        WHERE 1=1
        AND tcgi.DELETED = false 
        AND tcgi.PUBLIC_TO_ALL = true
        <if test="keyword != null and keyword != ''" >
            AND (
                tcgi.TITLE LIKE CONCAT('%', #{keyword}, '%')
                OR tcgi.DESCRIPTION LIKE CONCAT('%', #{keyword}, '%')
            )
        </if>
        <if test="status != null and status != ''">
            <if test="status == 'banned'">
                AND tca.BANNED = true
            </if>
            <if test="status == 'recommended'">
                AND tca.RECOMMENDED = true
            </if>
        </if>
        <if test="topic != null and topic != ''">
            AND tcgi.TOPIC = #{topic}
        </if>
        ORDER BY tcgi.CREATE_TIME DESC
    </select>
</mapper>
